################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Motives.WebTest.API/bin/Debug/netcoreapp3.1
