################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Motives.WebTest.API/bin/Debug/netcoreapp3.1
/Motives.WebTest.API/obj
/Motives.WebTest.BackEnd/bin/Debug/netcoreapp3.1
/Motives.WebTest.BackEnd/obj
